.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 526px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 526px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/woman-working.jpg");
  background-size: cover;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-1 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 314px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 401px;
}

.u-section-2 .u-text-1 {
  margin: 53px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 932px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin-top: 19px;
  margin-bottom: 53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 732px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 512px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 132px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1642px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 604px 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 2.5;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 848px 0 0;
}

.u-section-3 .u-text-6 {
  line-height: 2.5;
  margin: 19px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 40px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  line-height: 2.5;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 40px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 19px 721px 0 0;
}

.u-section-3 .u-text-12 {
  line-height: 2.5;
  margin: 21px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 120px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-15 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 404px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 648px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 521px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 184px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 428px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 4px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 248px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 121px;
  }

  .u-section-3 .u-text-15 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-4 .u-text-1 {
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 679px 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 2.5;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 28px auto 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin-top: 36px;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: 40px 986px 40px 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-4 {
    margin-right: 479px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 786px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-4 {
    margin-right: 259px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 566px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-4 {
    margin-right: 79px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 186px;
  }
}